/* General Body Styling */
/* static/predict.css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(''); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    color: white; 
    overflow-x: hidden;
}

.container {
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
    max-width: 800px;
    margin: auto;
}




/* Navbar styling */
.navbar {
    background-color: rgba(0, 0, 50, 0.7);
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-size: 1.8rem;
    font-weight: bold;
    color: #FFD700;
    text-decoration: none;
}

.navbar-toggler {
    display: none;
    font-size: 1.5rem;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

.navbar-nav {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #FFD700;;
}


.container {
    max-width: 700px;
    margin: auto;
    text-align: center;
    padding: 50px 20px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    margin-top: 40px;
}

h1 {
    color: #FFD700;
    margin-bottom: 10px;
}
.p{
    color:white;
}
.upload-box {
    margin-top: 30px;
}

.custom-file-upload {
    background-color: #FFD700;
    padding: 10px 20px;
    color: #f4ecec;
    border-radius: 5px;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

#submit-btn {
    margin-top: 20px;
    background-color: #FFD700;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submit-btn:hover {
    background-color: #796a15;
}

.result-section img {
    margin-top: 10px;
    border-radius: 10px;
}

.prediction-results {
    margin-top: 30px;
    background-color: #FFD700;
    padding: 20px;
    border-radius: 10px;
}

.prediction-results ul {
    list-style: none;
    padding: 0;
}

.prediction-results li {
    font-size: 18px;
    margin: 8px 0;
}
